@font-face {
  font-family: 'Beleren';
   src: url(fonts/Beleren-Bold.ttf) format('truetype');
   font-weight: normal;
    font-style: normal;
 }

 @font-face {
  font-family: 'Lobster';
   src: url(fonts/Lobster-Regular.ttf) format('truetype');
   font-weight: normal;
    font-style: normal;
 }

  body {
    margin: 0;
    padding: 0;
    background-color:rgba(100, 0, 100, 0.100);
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    row-gap: 20%;
  }

  .logo img{
      max-height: 50px;
      max-width: 50px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(100, 0, 100);
    padding: 10px;
  }

  .items {
    display: flex;
  }

  .nav-item {
    transform: skew(-5deg, -5deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
    padding: 10px;
    color: white;
    font-family: "Beleren", "sans-serif";
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(100, 0, 100);
  }

  .nav-item:hover {
    font-size: 20px;
    max-height: 15px;
    max-width: 80px;
  }

  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
  }

  .contentFrame {
    border: 1px dashed rgb(226, 226, 226);
    margin-bottom: 15px;
    width: 50%;
    padding: 25px;
    background-color: white;
  }

  .contentFrame h1 {
    display: flex;
    justify-content: center;
  }
  
  .backLink {
    display: flex;
    justify-content: flex-end;
    font-family: 'Lobster';
    font-size: 24px;
    text-decoration: none;
    color: black;
  }

  h1, h2 {
    font-family: "Lobster", "Arial";
  }

  p, a {
    font-family: "Helvetica";
  }

  .inner-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .inner-container a {
    width: auto;
  }

  .codeStyling {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2%;
    width: 96%;
  }